.umbrella-tree {

  padding-left: 0;

  &, ol {
    list-style: none;
  }

  .node-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: row;

    .node-col {
      height: 40px;
      line-height: 40px;
      border-left: 1px solid #ddd;
      padding: 0 5px;

      &.collapse-handle {
        cursor: pointer;
        width: 25px;
        padding: 0 10px;

      }

      &.col-content {
        flex-grow: 1;
        border-left: none;
      }

      &.col-action {
        min-width: 100px;
        text-align: center;
      }
    }

  }

  .mjs-nestedSortable-branch.mjs-nestedSortable-expanded {
    .collapse-handle i:before {
      content: '\f068';
    }
  }

  .mjs-nestedSortable-branch.mjs-nestedSortable-collapsed {
    li {
      display: none;
    }

    .collapse-handle i:before {
      content: '\f067';
    }
  }

  .mjs-nestedSortable-leaf {

    .collapse-handle i:before {
      content: initial !important;
    }
  }


}