.umbrella-collection {
  table.table {
    th.required:after {
      content: " *";
      color: #dd4b39;
    }

    tr td {
      vertical-align: middle;
    }
  }

  .sort-handler {
    cursor: pointer;
  }
}