.umbrella-fileupload {

  input[type="text"] {
    background-color: white;
  }

  .btn.umbrella-remove {
    background-color: white;
    display: none;
  }

  .btn.umbrella-download {
    background-color: white;
  }

}