.table-container {
  background-color: white;
  position: relative;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);

  // FLakit css

  .table-body {
    width: 100%;
  }

  .table-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .dataTables_info {
      padding-top: 0;
    }
  }

  .dataTables_wrapper.form-inline .form-control{
    width: auto;
  }
  div.dataTables_length label,
  div.dataTables_filter label{
    display:inline-block;
  }
  div.dataTables_paginate ul.pagination{
    display:inline-block;
  }

  // Own css

  .dataTable {
    margin-top: 0px !important;
    width: 100% !important;

    &.table-hover tbody tr:hover {
      cursor: pointer;
    }

    &.selectable tbody tr{
      cursor: pointer;
      &.selected {
        background-color: rgba(246, 246, 246, 0.80);
      }
    }

    .dataTables_empty{
      text-align: center;
      padding: 20px;
    }

    tbody > tr > td.popover-cell {
      cursor: pointer;
    }

    tbody > tr > td.triangle-cell {
      position: relative;

      &:after {
        content: '';
        width: 0px;
        height:0px;
        border-bottom: 15px solid #03A9F4;
        border-left: 15px solid transparent;
        bottom: 0;
        right: 0;
        position: absolute;
      }
    }
  }

}

