<div class="toolbar {{ class }}">

    {% if form %}
        <form class="form-inline" enctype="multipart/form-data" data-mount="Form" method="{{ form.vars.method }}">
            {{ form_rest(form) }}
        </form>
    {% endif %}

    <span class="ml-auto"></span>

    {% if actions %}
        <div class="umbrella-actions">
            {% for action in actions %}
                {% include action.template %}
            {% endfor %}
        </div>
    {% endif %}
</div>