<div class="umbrella-toolbar js-umbrella-toolbar {{ class }}">
    {% block actions %}
        {% if actions %}
            <ul class="umbrella-actions list-unstyled">
                {% for action in actions %}
                    <li>
                        {% include action.template %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}

    {% block form %}
        {% if form %}
            <form class="js-umbrella-form form-inline"
                  enctype="multipart/form-data"
                  data-mount="Form"
                  method="{{ form.vars.method }}">
                {{ form_rest(form) }}
            </form>
        {% endif %}
    {% endblock %}

    <div class="clearfix"></div>
</div>