<div class="node-content">

    {% block collapse %}
        {% if tree.collapsable %}
            <div class="node-col js-collapse-handle collapse-handle">
                <i class="fa"></i>
            </div>
        {% endif %}
    {% endblock %}

    {% block content %}
        <div class="node-col col-content">
            {{ tree.render(entity) | raw }}
        </div>
    {% endblock %}

    {% block action %}
        {% if actions %}
            <div class="node-col col-action">
                {% for action in actions %}
                    {{ action.render() | raw }}&nbsp;&nbsp;
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
</div>