{% block toolbar %}
    {% if tree.toolbar %}
        {{ render_toolbar(tree.toolbar) }}
    {% endif %}
{% endblock %}

{% block tree %}
    <div class="umbrella-tree-container" id="{{ id }}" data-mount="Tree" data-options="{{ js|json_encode() }}">
        <div class="text-center">
            <i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i> {{ 'common.loading' | trans }}
        </div>
    </div>
{% endblock %}