.modal {
  background-color: transparentize(black, 0.35);
}

.modal.scrollable, .modal .scrollable {
  .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
  }
}

.modal-title{
  font-size: 1.2em;
  line-height: 1.8;
}

@include media-breakpoint-up(lg) {
  .modal-xl { max-width: 1080px; }
}