.umbrella-toolbar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;

  ul.umbrella-actions {
    margin: 0;

    & > li {
      display: inline-block;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  
  form {
    margin-left: auto;

    .select2.select2-container {
      min-width: 200px;
    }

    .form-group:not(:last-child) {
      padding-right: 0.5rem;
    }

    .form-group {
      margin-bottom: 0.5rem !important;
    }

    div.checkbox {
      label {
        margin-right: 20px;
      }

      input[type=checkbox] {
        vertical-align: top;
      }
    }

    .form-group .form-check-horizontal .form-check {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      padding-right: 10px;
      width: inherit;
    }

  }
}