<div hidden="hidden">
    {% for toast in app.session.flashbag.get('toast') %}
        <div data-toggle="toast" data-options="{{ toast.createView().vars | json_encode() | e('html_attr') }}"></div>
    {% endfor %}
</div>
