<div hidden="hidden">
    {% for toast in app.session.flashbag.get('toast') %}
        <div data-toggle="toast" data-options="{{ toast.getViewOptions() | json_encode() }}"></div>
    {% endfor %}
</div>
