@import "~umbrella_admin/scss/variables/variables.scss";

#umbrella-spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  //background: rgba(0, 0, 0, 0.6);
  background-color: $black;
  opacity: 0.5;

  z-index: 1050;

  & > div {
    position: absolute;
    text-align: center;
    z-index: 1060;
    bottom: 50%;
    left: 50%;
    color: white;
    font-size: 1.5rem;

    i {
      margin: 20px;
    }

    span {

    }
  }
}